<div class="home mb-5">
    <div class="text-center">
        <div class="content pt-5">
            <h2 class="fs-1 fw-bolder">CONTACT SECTION</h2>
            <div class="d-flex align-items-center justify-content-center mb-3">
                <div class="line"></div>
                <i class="fa-solid fa-star px-2"></i>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <form class="w-50 mx-auto mt-5 pt-5">
        <input class="form-control" type="text" placeholder="userName" >
        <input class="form-control" type="number" placeholder="userAge" >
        <input class="form-control" type="email" placeholder="userEmail" >
        <input class="form-control" type="password" placeholder="userPassword" >
        <button _ngcontent-vcp-c16="" class="btn mt-4 text-white"> Send Message </button>
    </form>
</div>
<app-footer></app-footer>