<div class="home vh-100">
    <div class="text-white text-center position-absolute top-50 start-50 translate-middle ">
        <img src="./assets/images/avataaars.svg" alt="" class="w-75">
        <div class="content pt-3">
            <h2 class="fw-bolder fs-1">START FRAMEWORK</h2>
            <div class="d-flex align-items-center justify-content-center mb-3">
                <div class="line"></div>
                <i class="fa-solid fa-star px-2"></i>
                <div class="line"></div>
            </div>
            <p>Graphic Artist - Web Designer Illustrator</p>
        </div>
    </div>
</div>
<app-footer></app-footer>